*{
  box-sizing: border-box;
}
body{
  margin:0;
}
div {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    border: 5px solid;
    min-width: fit-content;
}
.flex-container {
    display: flex;
    border: none;
    padding: 5px;
    gap: 5px;
}
.container{
    padding: 5px;
    border: none;
}
.logo{
    text-align: left;
    padding-left: 10px;
    width: 20%;
}
.searchForm{
    width: 55%;
}
.phone{
   width: 25%;
}
.header{
    height: 100px;
}
.news{
    text-align: left;
    padding-left: 10px;
    width: 30%;
    height: 300px;
}
.pageContent{
    width: 70%;
    height: 300px;
}
@media (max-width: 576px) {
  div{
    font-size: 25px;
  }
  .flex-container{
    flex-direction: column;
  }
  .logo{
    width: 100%;
  }
  .searchForm{
    width: 100%;
  }
  .phone{
    width: 100%;
  }
  .news{
    width: 100%;
  }
  .pageContent{
    width: 100%;
  }
}
